.welcome
  .c
    h1.welcome__top ЗАВОД МЕТАЛЛОИЗДЕЛИЙ
    svg.welcome__title: use(xlink:href="#title")
    .welcome__sub Мы изготавливаем и устанавливаем
    ul.welcome__list
      li: a(href='#')
        | #[span Навесы] #[sub (премиум)]
        .welcome__dot.welcome__dot--1
      li: a(href='#')
        | #[span Ворота] #[sub (лазерной резки)]
        .welcome__dot.welcome__dot--2
      li: a(href='#')
        | #[span Заборы] #[sub (лазерной резки)]
        .welcome__dot.welcome__dot--3

