.akcii
  max-width 600px
  margin: 0 auto
  background: #ffffff
  border 2px solid #e43641
  border-radius: 5px
  position: relative;

  &__header
    border-bottom: 1px dashed #bdbdbd;
    padding: 40px 60px

    h3
      margin: 0

  &__label
    background: url(../../images/sprite-adv.png);
    display: flex;
    align-items center
    justify-content center
    font-weight: 500
    color: #ffffff
    padding-bottom: 4px
    transform rotate(-30deg)
    position: absolute;
    left: -55px
    top: 80px

  &__body
    padding: 44px 47px

    > *:last-child
      margin-bottom: 0
      padding-bottom: 0