.popup
  max-width: 600px
  margin: 0 auto
  position: relative

  .mfp-close
    width: 40px
    height: 40px
    color: #e74650
    background: #ffffff
    border-radius: 50%
    padding: 0
    right: 12px
    top: 18px

  .panel
    box-shadow: none

  .panel__header
    padding-right: 60px

  .panel__body
    padding-bottom: 0

  &__buttons
    display: flex;
    justify-content space-between

  &__time
    display: none;