#akcii.akcii
  .akcii__label акция
  .akcii__header: h3 Мы все Вам понятно объясним и расскажет стоимость наших пакетов.
  .akcii__body
    p.center
      | Мы понимаем что у вас могут возникнуть 100 вопросов.#[br]
      | Для грамотного понимания и объяснения всех вариантов франшизы мы предлагаем Вам Заполнить форму справа, или позвонить по номеру.
    h3 Если Вам интересна эта акция и Вы хотите забронировать ее на свое имя заполните форму ниже
    p: input.input__input.input__input--sm(placeholder='Ваше имя:')
    p: input.input__input.input__input--sm(placeholder='Ваш номер телефона:')
    p.center: button.btn Учавствовать в акции