.heads
  .heads__card.heads__card--red
    img.heads__image.lazy(data-src='modules/frontLicenses/frontLicenses-01.jpg')
    .heads__head
      .heads__name Капустин Андрей Николаевич
      .heads__position начальник ФГБУЗ МСЧ №59 ФМБА России
    .heads__contacts
      .heads__contact
        .heads__label Адрес:
        .heads__value ул. Спортивная д.8, здание управления, I этаж)
      .heads__contact
        .heads__label E-mail:
        .heads__value pochta@gmail.com
      .heads__contact
        .heads__label Прием граждан#[br]по личным вопросам::
        .heads__value вт., чт., с 15.00 до 17.00
      .heads__contact
        .heads__label Предварительная#[br]запись по телефону::
        .heads__value 8 (412) 60-55-38

  .heads__card.heads__card--blue
    img.heads__image.lazy(data-src='modules/frontLicenses/frontLicenses-01.jpg')
    .heads__head
      .heads__name Капустин Андрей Николаевич
      .heads__position начальник ФГБУЗ МСЧ №59 ФМБА России
    .heads__contacts
      .heads__contact
        .heads__label Адрес:
        .heads__value ул. Спортивная д.8, здание управления, I этаж)
      .heads__contact
        .heads__label E-mail:
        .heads__value pochta@gmail.com
      .heads__contact
        .heads__label Прием граждан#[br]по личным вопросам::
        .heads__value вт., чт., с 15.00 до 17.00
      .heads__contact
        .heads__label Предварительная#[br]запись по телефону::
        .heads__value 8 (412) 60-55-38

  .heads__card
    img.heads__image.lazy(data-src='modules/frontLicenses/frontLicenses-01.jpg')
    .heads__head
      .heads__name Капустин Андрей Николаевич
      .heads__position начальник ФГБУЗ МСЧ №59 ФМБА России
    .heads__contacts
      .heads__contact
        .heads__label Адрес:
        .heads__value ул. Спортивная д.8, здание управления, I этаж)

