.testimonials
  h2 Посмотрите отзывы о нашей компании
  .testimonials__slider
    .testimonials__slides
      each val in [1,2,3]
        .testimonials__slide
          .testimonials__inner
            .testimonials__img: img(src='modules/testimonials/img/testimonials-1.jpg')
            .testimonials__content
              .testimonials__title Александр Анисимов
              .testimonials__text
                - var i = 0;
                while i < val
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                  - i++
                    
  .testimonials__navigation
    .testimonials__button.testimonials__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
    .testimonials__pagination
    .testimonials__button.testimonials__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")
  