.catalog.lines
  .c.catalog__container
    .catalog__aside
      include ../menu/menu
    .catalog__content
      .catalogContent
        h1 Откатные/распашные Ворота, производимые компанией АВИСКОМ
        p Откатные ворота по праву считаются одними из лучших вариантов для частного использования. Они просты в установке, текст описания ворот.... За время работы мы достигли больших высот в качестве изделий и выделили основные виды ворот, которые отвечают всем требованиям  наших клиентов.
        p: img.img(src='images/catalogImage.jpg')

      include ../catalogAdvantages/catalogAdvantages

      .catalogContent
        h2 Откатные ворота имеют ряд неоспоримых преимуществ:
        ol
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          li: b Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        p Прокладка электрики осуществляется на усмотрение потребителя. Кабеля могут прятаться в землю, или же максимально располагаться над грунтом. Первый вариант более эстетичен, второй – максимально практичен (удобно ремонтировать, не проводя земляных работ).
        h2 Мы устанавливам навесы в любой фундамент

      include ../catalogSelect/catalogSelect
      include ../catalogPrices/catalogPrices

      .catalogContent
        p.big: b *Длинна ламелей изготавливается по индивидуальным размерам ширины

      include ../catalogForm/catalogForm

      .catalogContent
        h2 Варианты металлоштакетника от компании Ависком

      include ../catalogVariants/catalogVariants

