.catalog.lines
  .c
    h1.catalog__title Ворота, производимые компанией АВИСКОМ
    .catalog__container
      .catalog__aside
        include ../menu/menu
      .catalog__content
        include ../catalogWelcome/catalogWelcome
        include ../catalogMenu/catalogMenu2
        include ../catalogMenu/catalogMenu
