.panel.catalogForm
  .panel__header Калькулятор стоимости забора-жалюзи из ламелей
  .panel__body.catalogForm__body
    .catalogForm__img
      img.img(src='modules/catalogForm/img/catalogForm.jpg')
      .catalogForm__price #[.rub] Цена: 10 000 руб
    .catalogForm__content
      p.center: b Введите размеры желаемых ворот и мы рассчитаем стоимость Вашего проекта
      .catalogForm__row
        .catalogForm__col
          input.input__input.input__input--sm(placeholder='Необходимая высота ворот:')
      .catalogForm__row
        .catalogForm__col
          input.input__input.input__input--sm(placeholder='Необходимая ширина ворот:')
      p
      .catalogForm__footer
        input.input__input(placeholder='Ваш номер телефона:')
        button.btn.btn--inverse.btn--block РАССЧИТАТЬ СТОИМОСТЬ

.panel.catalogForm
  .panel__header Калькулятор стоимости забора из металлоштакетника
  .panel__body.catalogForm__body
    .catalogForm__img
      img.img(src='modules/catalogForm/img/catalogForm2.jpg')
      .catalogForm__price.catalogForm__price--dark #[.rub.rub--red] Цена: 10 000 руб
    .catalogForm__content
      p.center: b Введите размеры желаемых ворот и мы рассчитаем стоимость Вашего проекта
      .catalogForm__row
        .catalogForm__col
          input.input__input.input__input--sm(placeholder='Необходимая высота ворот:')
        .catalogForm__col
          input.input__input.input__input--sm(placeholder='Необходимая ширина ворот:')

      p.center: b Вариант металлоштакетника
      .catalogForm__row
        .catalogForm__col.catalogForm__col--shrink
          label.radio
            input.radio__input(type='radio' name='test')
            .radio__label П-образный
        .catalogForm__col.catalogForm__col--shrink
          label.radio
            input.radio__input(type='radio' name='test')
            .radio__label М-образный
        .catalogForm__col.catalogForm__col--shrink
          label.radio
            input.radio__input(type='radio' name='test')
            .radio__label Полукруглый
        .catalogForm__col.catalogForm__col--shrink
          label.radio
            input.radio__input(type='radio' name='test')
            .radio__label Пристенный
        .catalogForm__col.catalogForm__col--shrink
          label.radio
            input.radio__input(type='radio' name='test')
            .radio__label Промышленный

      .catalogForm__footer
        input.input__input(placeholder='Ваш номер телефона:')
        button.btn.btn--inverse.btn--block РАССЧИТАТЬ СТОИМОСТЬ
