.certificates
  h2 За 10 лет работы мы#[br]получили множество наград и сертификатов
  .c
    .certificates__slider
      .certificates__items
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=0): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=1): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=2): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=3): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=4): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=5): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=6): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=7): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=8): img(src='modules/certificates/img/certificate-1.jpg')
        a.certificates__item.zoom(href='modules/certificates/img/certificate-1.jpg' data-width=174 data-height=240 data-index=9): img(src='modules/certificates/img/certificate-1.jpg')

      .certificates__navigation
        .certificates__button.certificates__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
        .certificates__button.certificates__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")
      