.blogTags
  .blogTags__label Теги:
  .blogTags__items
    a.blogTags__item(href='#') строительство
    a.blogTags__item(href='#') забор
    a.blogTags__item(href='#') премиум забор
    a.blogTags__item(href='#') строительство
    a.blogTags__item(href='#') забор
    a.blogTags__item(href='#') премиум забор
    a.blogTags__item(href='#') строительство
    a.blogTags__item(href='#') забор
    a.blogTags__item(href='#') премиум забор