.blogTags
  display flex;
  align-items flex-start
  font-size: 16px
  margin-top: 11px

  &__label
    padding-top: 3px
    font-weight: 500
    margin-right: 30px

  &__items
    display flex
    flex-wrap wrap
    min-width: 0px

  &__item
    display block
    padding: 1px 16px
    border: 1px solid transparent
    border-radius: 16px;
    color: #2d2d2d
    anim()

    &:hover
      color: #2d2d2d
      border-color: #e43641
      text-decoration: none;