.pagination
  a.prev.page-numbers(href="https://zavod-aviskom.ru/blog/"): svg: use(xlink:href="#arrow")
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.page-numbers(href='https://zavod-aviskom.ru/blog/') 1
  span.page-numbers.current 2
  a.next.page-numbers(href="https://zavod-aviskom.ru/blog/"): svg: use(xlink:href="#arrow")

  //.pagination__btn.pagination__btn--prev.btn.btn--round: svg: use(xlink:href="#arrow")
  //.pagination__items
  //  a.pagination__item(href='#') 1
  //  a.pagination__item.pagination__item--active(href='#') 2
  //  a.pagination__item(href='#') 3
  //  a.pagination__item(href='#') 4
  //  a.pagination__item(href='#') 5
  //  a.pagination__item(href='#') 6
  //  a.pagination__item(href='#') 7
  //  a.pagination__item(href='#') 8
  //  a.pagination__item(href='#') 9
  //  a.pagination__item(href='#') 10
  //.pagination__btn.pagination__btn--next.btn.btn--round: svg: use(xlink:href="#arrow")