.pagination
  .pagination__btn.pagination__btn--prev.btn.btn--round: svg: use(xlink:href="#arrow")
  .pagination__items
    a.pagination__item(href='#') 1
    a.pagination__item.pagination__item--active(href='#') 2
    a.pagination__item(href='#') 3
    a.pagination__item(href='#') 4
  .pagination__btn.pagination__btn--next.btn.btn--round: svg: use(xlink:href="#arrow")