.consult.lines
  .c: .panel
    img.panel__img(src='modules/idea/img/ideaTree.png')
    .panel__header Получите консультацию специалиста и подбор Навесов#[br]по параметрам в течение 5 минут
    .panel__body
      img.consult__img(src='modules/consult/img/consult.png')
      .consult__form
        .consult__input
          input.input__input.input__input--big(placeholder="Введите свой номер телефона:")
        .consult__btn
          button.btn.btn Получите консультацию
