.catalogContent
  h1, h2, h3, h4, h5, h6
    text-align: left
    font-size: 30px
    line-height: 1.2
    font-weight: 500
    margin-bottom: 1em
    @media (max-width: $breakpoint-md - 1)
      text-align: center;

  //p
  //  @media (max-width: $breakpoint-md - 1)
  //    text-align: center;

  img
    max-width 100%

.catalogImage
  border: 2px solid #e43641
  border-radius: 5px
  overflow: hidden;
  margin-bottom: 1.55em
  width: 100%