.catalogSelect
  display: flex;
  flex-wrap wrap
  justify-content center
  margin: 0 -15px

  &__item
    flex: 1
    padding: 0 15px
    min-width 200px
    margin-bottom: 44px

  &__inner
    border: 2px solid transparent
    background: #f8f8f8
    border-radius: 5px
    height: 100%
    cursor: pointer;
    anim()

    &:hover
      border-color: #e43641

  &__image
    margin: -2px
    border: 2px solid #e43641
    border-radius: 5px
    overflow: hidden;
    height: 176px
    background-position: 50% 50%
    background-size: cover;

  &__text
    padding: 20px 12px
    font-weight: 500
    text-align: center;
    line-height: 1.35