.catalogSelect
  each i in ['Методом бетонирования', 'На бетонную площадку', 'Монтаж на сваях', 'Монтаж на сваях']
    .catalogSelect__item
      .catalogSelect__inner
        .catalogSelect__image(style="background-image: url(modules/catalogSelect/img/catalogSelect.jpg)")
        .catalogSelect__text
          =i
