.catalogWelcome
  .catalogWelcome__content
    .catalogWelcome__top Компания
    svg.catalogWelcome__title: use(xlink:href="#title")
    .catalogWelcome__text
      p производит ворота как для частного пользования, так и для компаний, которые хотят защитить свои владения. За время работы мы достигли больших высот в качестве изделий и выделили основные виды ворот, которые отвечают всем требованиям  наших клиентов.
  .catalogWelcome__aside
    .catalogWelcome__img: img(src='modules/catalogWelcome/img/catalogWelcome.jpg')
    .catalogWelcome__subimg: img(src='modules/catalogWelcome/img/catalogWelcome.jpg')
