.catalogWelcome
  display: flex;
  align-items center
  padding-bottom: 50px
  @media (max-width: $breakpoint-lg - 1)
    flex-direction column
    align-items center
    text-align: center;
  //&__content

  &__top
    font-size: 30px
    font-weight: 500
    margin-bottom: 4px

  &__title
    width: 252px
    height: 36px
    fill: #e43741
    margin-bottom: 10px


  &__aside
    margin-left: 40px
    position: relative;
    @media (max-width: $breakpoint-lg - 1)
      margin-left: 0
      width: 100%

    &:after
      content: ''
      display: block;
      position: absolute;
      background: url(./img/sprite-catalogWelcomeBg.png) 50% 50% no-repeat;
      //width: 287px
      //height: 326px
      bottom: 61px;
      left: -13px;
      pointer-events none
      @media (max-width: $breakpoint-lg - 1)
        background: url(./img/sprite-catalogWelcomeBg2.png) 50% 50% no-repeat;
        //width: 287px
        //height: 67px
        bottom: -33px
        left: 68px
        top: auto;

  &__img
    overflow: hidden;
    position: relative;
    @media (max-width: $breakpoint-lg - 1)
      height: 260px

    img
      margin-bottom: -75px
      display: block;
      @media (max-width: $breakpoint-lg - 1)
        margin-bottom: 0
        position: absolute;
        left: 50%
        top: 50%
        transform translate(-50%, -50%)
        height: 100%

  &__subimg
    margin-left: 185px
    height: 75px
    position relative
    overflow: hidden;
    @media (max-width: $breakpoint-lg - 1)
      display: none;

    img
      position: absolute;
      bottom: 0
      right: 0