.menu
  .menu__header
    button.menu__button
      .menu__openText Меню
      .menu__closeText Закрыть
      .hamburger

  .menu__inner
    ul
      li
        a(href='#') Ворота
        ul
          li: a(href='#') Откатные ворота
          li: a(href='#') Откатные ворота утепленные
          li: a(href='#') Откатные ворота кованные
          li: a(href='#') Откатные ворота лазерной резки премиум
          li: a(href='#') Распашные ворота
          li: a(href='#') Распашные ворота утепленные
          li: a(href='#') Распашные ворота кованные
          li: a(href='#') Распашные ворота лазерной резки премиум

      li.current-menu-ancestor
        a(href='#') Заборы
        ul
          li: a(href='#') Металлоштакетник
          li: a(href='#') Забор-жалюзи из ламелей
          li: a(href='#') Заборы лазерной резки премиум
          li: a(href='#') Комплектующие для забора

      li
        a(href='#') Навесы
        ul
          li: a(href='#') Навесы эконом класса
          li: a(href='#') Навесы с элементами ковки
          li: a(href='#') Навесы премиум класса
