.variants
  background: #fff url(img/variantsBg.jpg) calc(50% + 580px) 50% no-repeat;
  background-size: cover;

  &__container
    padding: 65px 0 80px

  &__items
    padding: 0
    display: flex
    @media (max-width: $breakpoint-lg - 1)
      flex-direction column
    @media (max-width: $breakpoint-md - 1)
      text-align: center;

  &__item
    background: #fbfbfb
    margin: 0 10px
    border-radius: 4px
    padding: 13px
    display: flex
    flex 1

    &:last-child
      margin-bottom: 0
    @media (max-width: $breakpoint-lg - 1)
      margin-bottom: 75px
    @media (max-width: $breakpoint-md - 1)
      position: relative;
      margin-bottom: 60px
      margin-top: 240px

  &__img
    width: 187px
    flex-shrink: 0
    margin-right: 25px
    margin-top: -(13 + 40) px
    position: relative;
    @media (max-width: $breakpoint-md - 1)
      width: 0
      margin: 0
      position: static;

    img
      position: absolute
      top: 0
      left: 50%
      transform translateX(-50%)
      @media (max-width: $breakpoint-md - 1)
        top: auto;
        bottom: 100%
        //transform none
        left: 50%

  &__text
    padding-top: 27px

    p
      margin-bottom: 20px