.variants
  .variants__container.lines
    h2 Мы предлагаем два варианта монтажа
    .c.variants__items
      .variants__item
        .variants__img: img(src='modules/variants/img/variant-1.png')
        .variants__text
          p: b УСЛУГА ШЕФ-МОНТАЖ
          p Мы даем Вам рекомендации и подробную инструкцию по установке и грамотному расположению забора из штакетника.
      .variants__item
        .variants__img: img(src='modules/variants/img/variant-2.png')
        .variants__text
          p: b МОНТАЖ НАШЕЙ КОМПАНИЕЙ
          p Специалисты компании АВИСКОМ осуществят Вам установку забора из металлоштакетника, используя свой опыт и все необходимые инструменты.
