steps()
  margin-bottom: 20px
  height: auto

  .steps
    &__border
      top: 30px
      bottom: -51px
      left: 50px
      right: 0
      transform none
      width auto
      height: auto

      &:before
        transform none
        left: -50px
        right: 0
        top: 0
        bottom: 0
        width auto
        height: auto

    &__head
      padding-left: 45px
      margin-bottom: 8px

    &__title
      padding-left 15px
      background: #ffffff

    &__text
      padding-bottom: 0

  &:nth-child(2n)
    .steps
      &__border
        left: 0
        right: auto
        width: 50px

        &:before
          left: 0
          right: -50px

      &__title
        &:before
          display none

        &:after
          display block

      &__text
        padding-left: 60px

  &:first-child
    .steps__head
      padding-left: 0

    .steps__title
      padding-left: 0

  &:last-child
    &:before
      border-left: 0

.steps
  padding-bottom: 60px

  &__cols
    display: flex;
    flex-wrap wrap
    padding: 90px 0 45px
    margin: 0 -8px

    .steps__step
      width: 50%
      padding: 0 8px
      @media (max-width: $breakpoint-lg - 1)
        width: 100%

  &__step
    position: relative;
    margin-bottom: 40px
    height: 137px

    &--list
      steps()

    @media (max-width: $breakpoint-lg - 1)
      steps()

  &__border
    position absolute
    overflow: hidden;
    height: 200%
    width: 200%;
    left: 100px;
    //top: 15px
    //top: calc(100% - 100px)
    top: 0
    transform rotate(30deg)
    pointer-events none
    //@media (max-width: $breakpoint-lg - 1)
    //  top: 45px
    //@media (max-width: $breakpoint-lg - 1)
    //  display: none;


    &:before
      content: ''
      display: block
      position: absolute
      border 1px dashed #e21d2b
      border-radius: 50px
      left: -106px;
      bottom: -68px;
      width: 50%;
      height: 50%;
      transform rotate(-30deg)

  &__head
    &:after
      content: ''
      display: block;
      clear: both;

  &__title
    font-size: 24px
    font-weight: 500
    //display inline-flex
    display flex
    float: left;
    align-items center
    position relative
    z-index: 1
    padding-right 15px

    &:before, &:after
      content: ''
      width: 60px
      height: 60px
      background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%270%200%2060%2060%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cpath%20d%3D%27m23.24%2039.25%209.2-9-9.2-9h7.81l9.2%209-9.2%209z%27%20fill%3D%27%23e21d2b%27/%3E%3Cg%20fill%3D%27none%27%20stroke%3D%27%23f6acac%27%3E%3Ccircle%20cx%3D%2729.75%27%20cy%3D%2729.75%27%20r%3D%2724.5%27/%3E%3Ccircle%20cx%3D%2729.75%27%20cy%3D%2729.75%27%20r%3D%2729.5%27/%3E%3C/g%3E%3C/svg%3E")

    &:before
      display block
      margin-right: 15px

    &:after
      display none
      margin-left: 15px
      transform: rotate(180deg)

  &__text
    padding-left: 75px
    min-height 55px
    padding-right: 20px
    padding-bottom: 20px

    span
      font-weight: 500
      color: #e21d2b

