.steps.lines
  .c
    .steps__cols

      .steps__step
        .steps__border
        .steps__head: .steps__title Сейчас
        .steps__text
          | Вы оставляете заявку на сайте, или звоните по телефону#[br]
          | #[span +7 (812) 603-41-83]

      .steps__step
        .steps__border
        .steps__head: .steps__title В течение 15 минут
        .steps__text Менеджер консультирует Вас и помогает определится с выбором, исходя из Ваших пожеланий. Согласовывает выезд замерщика-инженера.

      .steps__step
        .steps__border
        .steps__head: .steps__title В течение 2 часов
        .steps__text На производстве начинают изготавливать Ваше изделие.

      .steps__step
        .steps__border
        .steps__head: .steps__title 24 часа
        .steps__text Ваше изделие готово к доставке либо самовывозу. При необходимости производится доставка.

      .steps__step
        .steps__border
        .steps__head: .steps__title 48 часов
        .steps__text Мы помогаем Вам установить металлоизделие и дарим свой подарок.
