// ====================================
// colors
// ====================================
$black = #11262d
$blue = #42bde4
$red = #e7533b
// ====================================
// typography
// ====================================
//$font-size = 16px
//$line-height = remove-unit(24 / $font-size)

// ====================================
// grid settings
// ====================================

$gutter = 15px
$gutter-half = ($gutter / 2)

$breakpoint-sm = 576px
$breakpoint-md = 768px
$breakpoint-lg = 1230px

$container-sm = 540px
$container-md = 720px
$container-lg = 1200px
