.faq
  .faq__item
    .faq__question
      p В женскую консультацию вообще не реально записаться. Хотела попасть на приём к Дивненко по электронной записи все убирается за минуту. По телефону невозможно дозвонится. Ужас.
      .faq__name Апетенок Юлия Борисовна
      .faq__date 20.12.2019 в 08:13
    .faq__answer
      .faq__inner
        p Здравствуйте, Елена.
        p Приглашаем Вас на прием в женскую консультацию МСЧ №59 23.12.2019 в 08:00, в кабинет №216 врач Копченова Елена Владимировна (натощак, при себе иметь полис медицинского срахования).
        p С уважением, заведующая женской консультацией МСЧ №59 Копченова Е.В.
        .faq__name Отдел АСУ МСЧ №59
        .faq__date 20.12.2019 в 08:13

  .faq__item
    .faq__question
      p В женскую консультацию вообще не реально записаться. Хотела попасть на приём к Дивненко по электронной записи все убирается за минуту. По телефону невозможно дозвонится. Ужас.
      .faq__name Апетенок Юлия Борисовна
      .faq__date 20.12.2019 в 08:13
    .faq__answer
      .faq__inner
        p Здравствуйте, Елена.
        p Приглашаем Вас на прием в женскую консультацию МСЧ №59 23.12.2019 в 08:00, в кабинет №216 врач Копченова Елена Владимировна (натощак, при себе иметь полис медицинского срахования).
        p С уважением, заведующая женской консультацией МСЧ №59 Копченова Е.В.
        .faq__name Отдел АСУ МСЧ №59
        .faq__date 20.12.2019 в 08:13

  .faq__item
    .faq__question
      p В женскую консультацию вообще не реально записаться. Хотела попасть на приём к Дивненко по электронной записи все убирается за минуту. По телефону невозможно дозвонится. Ужас.
      .faq__name Апетенок Юлия Борисовна
      .faq__date 20.12.2019 в 08:13
    .faq__answer
      .faq__inner
        p Здравствуйте, Елена.
        p Приглашаем Вас на прием в женскую консультацию МСЧ №59 23.12.2019 в 08:00, в кабинет №216 врач Копченова Елена Владимировна (натощак, при себе иметь полис медицинского срахования).
        p С уважением, заведующая женской консультацией МСЧ №59 Копченова Е.В.
        .faq__name Отдел АСУ МСЧ №59
        .faq__date 20.12.2019 в 08:13
