.bannerCard
  display: block;
  height: 203px
  position: relative;
  border-radius: 7px
  overflow: hidden;
  border: 0
  //max-width 280px
  @media screen and (max-width: $breakpoint-lg - 1)
    height: 158px
    border-radius: 5px

  &:hover
    img
      transform translate(-50%, -50%) scale(1.1)

  img
    position: absolute;
    left: 50%
    top: 50%
    transform translate(-50%, -50%)
    min-width 100%
    min-height 100%
    width: auto;
    height: auto;
    transition: transform .3s ease-out, opacity .1s ease-out
    opacity: 0

    &.swiper-lazy-loaded, &.lazy--visible
      opacity: 1

  &:after
    content: ''
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to top, rgba(#42bde4, .95) 0, rgba(#42bde4, .95) 24%, rgba(#42bde4, .25) 100%);

  span
    z-index: 1
    color: #ffffff
    font-weight: 500
    position: absolute;
    bottom: 25px
    left: 30px
    width: 200px
    max-width 100%
    line-height: 1.55
    @media screen and (max-width: $breakpoint-lg - 1)
      font-size: 1.2rem
      text-align: center;
      left: 20px
      right: 20px
      display: block;
      width: auto;
      bottom: 35px
