.btn
  display: inline-flex
  align-items center
  justify-content center
  border: 1px solid #e11b2a
  background: #e11b2a
  padding: 0 38px
  position: relative
  //font-size: 16px
  font-weight: bold
  height: 58px
  cursor: pointer
  border-radius: 29px
  color: #ffffff
  transition all 0.1s ease-in !important

  svg
    display: block
    fill: #fff
    anim()

  &:focus
    outline 0

  &:hover, &--active
    text-decoration: none;
    background: #ffffff
    border-color: #e43641
    color: #2a2a2a
    //background: darken(#e11b2a, 15%)

    svg
      fill: #000

  &--sm
    height: 50px
    padding: 0 27px
    border-radius: 25px

  &--round
    width: 52px
    height: 52px
    padding: 0
    align-items center
    justify-content: center

  &--block
    width: 100%