.input
  &__input
    display: block
    width: 100%
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 4px
    padding: 10px 20px
    font-size: 16px

    &--big
      padding: 15px 25px

    &--sm
      padding 7px 14px

    &--textarea
      resize: none
      min-width 100%
      max-width 100%
      line-height: 1.2

    &.wpcf7-not-valid
      border-color: red