.input
  &__input
    display: block
    width: 100%
    background: #f3f3f3;
    border-radius: 4px
    padding: 12px 20px
    font-size: 16px

    &--big
      padding: 17px 25px

    &--sm
      padding 9px 14px

    &--textarea
      resize: none
      min-width 100%
      max-width 100%
      line-height: 1.2
