.input
  &__input
    display: block
    width: 100%
    background: #fff
    border: 1px solid #d0eef8
    border-radius: 7px
    padding: 23px 20px
    font-size: 18px
    line-height: 1
    anim()
    @media screen and (max-width: $breakpoint-lg - 1)
      font-size: 12px
      padding: 17px 20px 16px

    &:hover, &:focus
      border-color: #42bde4

    &--textarea
      resize: none
      min-width 100%
      max-width 100%
      line-height: 1.2

    &.wpcf7-not-valid
      border-color: red
