.blog
  padding-top: 30px

  &__back
    display inline-block
    color: #e21d2b
    font-size: 16px
    margin-bottom: 30px

  &__head
    display: flex;
    margin-bottom: 35px
    @media (max-width: $breakpoint-lg - 1)
      flex-direction column

  &__image
    border: 2px solid #e53641
    border-radius: 5px
    overflow hidden
    margin-right: 27px
    flex-shrink: 0
    @media (max-width: $breakpoint-lg - 1)
      margin-right: 0
      margin-bottom: 20px

    img
      display: block
      width: 100%
      height: auto;

  &__info
    padding-top: 8px

  &__title
    font-size: 30px
    line-height: 1.2
    margin-bottom: 27px

  &__parameters
    table
      width: 100%

    tr
      border-bottom: 1px dashed #d9d9d9

      &:last-child
        border-bottom: 0

    td
      padding: 21px 8px

      &:first-child
        font-weight: 500

      &:last-child
        width: 1px
        white-space: nowrap

  &__content
    margin-bottom: 45px