.catalogMenu
  padding: 60px 0 70px
  @media (max-width: $breakpoint-lg - 1)
    padding: 50px 0 55px

  &--bg
    position: relative;
    z-index: 1

    &:before
      content: ''
      display: block;
      position: absolute;
      left: calc((100vw - 1200px) / -2 - 310px)
      right: 0
      top: 0
      height: 100%
      width: 100vw
      background: url(../examples/img/examplesBg.jpg) 50% 50% no-repeat;
      background-size: cover;
      z-index: -1
      @media (max-width: $breakpoint-lg - 1)
        left: calc((100vw - 100%) / -2)


  &__title
    text-align: left;
    @media (max-width: $breakpoint-lg - 1)
      text-align: center;

  &__slider
    min-width 0
    width: 100%
    overflow: hidden;

  &__items
    display: flex;
    flex-wrap wrap
    margin: 0px -15px
    @media (max-width: $breakpoint-md - 1)
      margin: 0
      flex-wrap nowrap

  &__item
    margin: 0 15px 30px
    flex: 1
    width: 50%
    position: relative;
    z-index: 1
    box-shadow: 0 11px 12px -10px #5a5858
    @media (max-width: $breakpoint-md - 1)
      flex: auto
      flex-shrink 0
      margin: 0

    &:after
      content: ''
      display: block;
      position: absolute;
      left: 30px
      right: 30px
      border-radius: 5px
      height: 10px
      bottom: -5px
      background: #ffffff
      z-index: -1


    &--x2
      width: 100%

  &__card
    border-radius: 5px
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover
    height: 298px
    position: relative;
    display: flex;
    justify-content flex-end
    flex-direction column
    color: #ffffff
    padding: 33px 25px

    &:before
      content: ''
      display: block;
      position: absolute;
      width: 100%
      height: 50%
      bottom: 0
      left: 0
      background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, .8));
      @media (max-width: $breakpoint-lg - 1)
        height: 80%

  &__content
    position: relative;
    z-index: 1

  &__head
    font-size: 30px
    line-height: 1
    font-weight: 500
    margin-bottom: 25px
    @media (max-width: $breakpoint-lg - 1)
      font-size: 24px

    &:after
      content: ''
      display: block;
      height: 3px
      width: 236px
      background: #e43641
      margin-top: 8px

  &__body
    display: flex;
    align-items center

    .btn
      margin-left: auto
      @media (max-width: $breakpoint-lg - 1)
        font-size: 14px

    .rub
      margin-right: 10px
      flex-shrink 0

  &__price
    font-size: 24px
    font-weight: 500
    @media (max-width: $breakpoint-lg - 1)
      font-size: 18px

  &__help
    position: absolute;
    right: 17px
    top: 17px

  &__navigation
    display: none;
    @media (max-width: $breakpoint-md - 1)
      display: flex;
      align-items center
      justify-content center
      margin-top: 20px

      .btn
        margin: 0 15px
