.catalogMenu
  h2.catalogMenu__title Откатные ворота
  .catalogMenu__slider
    .catalogMenu__items
      .catalogMenu__item
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-1.jpg)")
          a.btn.btn--sm.btn--round.catalogMenu__help(href='catalogInner') ?
          .catalogMenu__content
            .catalogMenu__head Ламели для забора-жалюзи
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

      .catalogMenu__item
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-2.jpg)")
          a.btn.btn--sm.btn--round.catalogMenu__help(href='catalogInner') ?
          .catalogMenu__content
            .catalogMenu__head Ворота "Эконом"
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

      .catalogMenu__item.catalogMenu__item--x2
        .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-3.jpg)")
          a.btn.btn--sm.btn--round.catalogMenu__help(href='catalogInner') ?
          .catalogMenu__content
            .catalogMenu__head Ворота "Эконом"
            .catalogMenu__body
              .rub
              .catalogMenu__price от 10 000 руб
              a.btn.btn--sm(href='catalogInner') Подробнее

    .catalogMenu__navigation
      .catalogMenu__button.catalogMenu__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
      .catalogMenu__button.catalogMenu__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")


    //.catalogMenu__item.catalogMenu__item--x2
    //  .catalogMenu__card(style="background-image:url(modules/catalogMenu/img/catalogMenu-3.jpg)")
    //    a.btn.btn--sm.btn--round.catalogMenu__help(href='#') ?
    //    .catalogMenu__content
    //      .catalogMenu__head Ворота "Эконом"
    //      .catalogMenu__body
    //        .rub
    //        .catalogMenu__price от 10 000 руб
    //        a.btn.btn--sm(href='#') Подробнее
