.catalogAdvantages
  .catalogAdvantages__items
    .catalogAdvantages__item.catalogAdvantages__item--half
      .catalogAdvantages__img: img(src='modules/advantages/img/advantages-1.png')
      .catalogAdvantages__text Бесплатный замер и индивидуальное изготовление
    .catalogAdvantages__item.catalogAdvantages__item--half
      .catalogAdvantages__img: img(src='modules/advantages/img/advantages-2.png')
      .catalogAdvantages__text Монтаж в любое#[br]время года
    .catalogAdvantages__item
      .catalogAdvantages__img: img(src='modules/advantages/img/advantages-3.png')
      .catalogAdvantages__text Гарантия#[br]до 10 лет
    .catalogAdvantages__item
      .catalogAdvantages__img: img(src='modules/advantages/img/advantages-4.png')
      .catalogAdvantages__text Лучшая цена#[br]в Санкт-Петербурге
    .catalogAdvantages__item
      .catalogAdvantages__img: img(src='modules/advantages/img/advantages-5.png')
      .catalogAdvantages__text Окраска в любой#[br]цвет по RAL

  .catalogAdvantages__navigation
    .catalogAdvantages__button.catalogAdvantages__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
    .catalogAdvantages__button.catalogAdvantages__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")
  