.advantages.lines
  h2.advantages__title Преимущества
  .c.advantages__slider
    .advantages__items
      .advantages__item
        .advantages__img: img(src='modules/advantages/img/advantages-1.png')
        .advantages__text Бесплатный замер и#[br]индивидуальное#[br]изготовление
      .advantages__item
        .advantages__img: img(src='modules/advantages/img/advantages-2.png')
        .advantages__text Монтаж в любое#[br]время года
      .advantages__item
        .advantages__img: img(src='modules/advantages/img/advantages-3.png')
        .advantages__text Гарантия#[br]до 10 лет
      .advantages__item
        .advantages__img: img(src='modules/advantages/img/advantages-4.png')
        .advantages__text Лучшая цена#[br]в Санкт-Петербурге
      .advantages__item
        .advantages__img: img(src='modules/advantages/img/advantages-5.png')
        .advantages__text Окраска в любой#[br]цвет по RAL

    .advantages__navigation
      .advantages__button.advantages__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
      .advantages__button.advantages__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")
