.searchResults
  .searchResults__total Всего 32 результата:

  each i in [1,2,3,4,5]
    a.searchResults__item(href='#')
      .searchResults__title Название страницы
      .searchResults__text
        p Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось ...

  .loadMore: a(href='#') Загрузить еще
