.notFound
  padding: 50px 0
  text-align: center;

  &__title
    font-size: 36px;
    line-height: 1.35;
    text-align: center;
    font-weight: 500;
    padding: 0 0 20px;

  &__subtitle
    position: relative
    z-index: 1
    font-size: 18px
    line-height: 30px
