.notFound
  .notFound__icon: svg: use(xlink:href="#icon-doctor")
  h1 Error 404
  p Кажется что-то пошло не так. Страница, которую вы запрашиваете, не существует. Возможна она была удалена, устарела или был введен неверный адрес в адресной строке.
  a.btn.btn--big(href='#'): span На главную
