.about.lines
  .c.about__container
    .about__content
      h2.about__sup Компания
      svg.about__title: use(xlink:href="#title")
      p Работает с 2010 года и за это время зарекомендовала себя как надежный и проверенный производитель металлоизделий.
      p Благодаря собственному производству мы предлагаем нашим клиентам низкие цены и высокое качество. Дальше текст о компании....
      .about__navigation
        .about__button.about__button--prev.btn.btn--round: svg: use(xlink:href="#arrow")
        .about__pagination
        .about__button.about__button--next.btn.btn--round: svg: use(xlink:href="#arrow")

    .about__aside
      .about__slider
        .about__slides
          .about__slide
            .about__round
            img(src='modules/about/img/about-1.png')
            .about__label: .about__label-text Ворота
            a.about__link.btn.btn--sm(href='#') Перейти
          .about__slide
            .about__round
            img(src='modules/about/img/about-2.png')
            .about__label: .about__label-text Заборы
            a.about__link.btn.btn--sm(href='#') Перейти
          .about__slide
            .about__round
            img(src='modules/about/img/about-3.png')
            .about__label: .about__label-text Навесы
            a.about__link.btn.btn--sm(href='#') Перейти
