.frontMenu
  .c
    h2 Структура ФГБУЗ МСЧ №59
    .frontMenu__cols
      .frontMenu__col
        .frontMenu__block.frontMenu__block--hasChildren
          .frontMenu__header Детская поликлиника
          .frontMenu__submenu: ul
            li: a(href='#') Отделение участковой службы
            li: a(href='#') Кабинет профилактики
            li: a(href='#') Узкие специалисты и др. кабинеты
            li: a(href='#') Фотогалерея детской поликлиники
            li: a(href='#') О грудном вскармливании
            li: a(href='#') Информация для родителей
        .frontMenu__block.frontMenu__block--hasChildren
          .frontMenu__header Перинатальный центр
          .frontMenu__submenu: ul
            li: a(href='#') Жменская консультация
            li: a(href='#') Социально-психологическая помощь
            li: a(href='#') Гинекологическое отделение
            li: a(href='#') Акушерское отделение
            li: a(href='#') Оформление въезда в г. Заречный
        .frontMenu__block
          a.frontMenu__header(href='#') Управление

      .frontMenu__col
        .frontMenu__block.frontMenu__block--hasChildren
          .frontMenu__header Городская поликлиника
          .frontMenu__submenu: ul
            li: a(href='#') Регистратура
            li: a(href='#') I терапевтическое отделение
            li: a(href='#') II терапевтическое отделение
            li: a(href='#') Комплексный врачебный здравпункт
            li: a(href='#') Отделение скорой помощи
            li: a(href='#') Фельдшерские здравпункты
            li: a(href='#') Отделение узких специалистов
            li: a(href='#') Стоматологическое отделение
            li: a(href='#') Отделение ортопедической стоматологии
            li: a(href='#') Льготная аптека
            li: a(href='#') Вспомогательные кабинеты
            li: a(href='#') Фотогалерея городской поликлиники
        .frontMenu__block
          a.frontMenu__header(href='#') Центр психоневрологии и наркологии

      .frontMenu__col
        .frontMenu__block.frontMenu__block--hasChildren
          .frontMenu__header Стационар
          .frontMenu__submenu: ul
            li: a(href='#') Отделение переливания крови
            li: a(href='#') Патологоанатомическое отделение
            li: a(href='#') Травматологическое отделение
            li: a(href='#') Отделение А и Р
            li: a(href='#') Хирургическое отделение
            li: a(href='#') Инфекционное отделение
            li: a(href='#') Клинико-диагностическая лаборатория
            li: a(href='#') Отделение физиотерапии и восстановительного лечения
            li: a(href='#') Рентгеновское отделение
            li: a(href='#') Диагностическое отделение
            li: a(href='#') Отделение реабилитации
            li: a(href='#') Кардиологическое отделение
            li: a(href='#') Педиатрическое отделение
            li: a(href='#') Терапевтическое отделение
            li: a(href='#') Дневной стационар

        .frontMenu__block
          a.frontMenu__header(href='#') Платные медицинские услуги

    .frontMenu__cards
      .arrowButton.arrowButton--left: svg: use(xlink:href="#icon-back")
      .arrowButton.arrowButton--right: svg: use(xlink:href="#icon-back")
      .frontMenu__slider
        .frontMenu__items
          .frontMenu__item
            a.card(href='#')
              img.swiper-lazy(data-src='images/card-img-1.jpg')
              span Информация для пациентов
          .frontMenu__item
            a.card(href='#')
              img.swiper-lazy(data-src='images/card-img-1.jpg')
              span Лекарственное обеспечение
          .frontMenu__item
            a.card(href='#')
              img.swiper-lazy(data-src='images/card-img-1.jpg')
              span Доска почета
          .frontMenu__item
            a.card(href='#')
              img.swiper-lazy(data-src='images/card-img-1.jpg')
              span Изменение в графике работы врачей

