.frontInfo
  .c
    .frontInfo__title ФГБУЗ МСЧ №59 ФМБА России
    .frontInfo__text
      p ФГБУЗ МСЧ №59 одно из самых крупных учреждений здравоохранения Пензенской области, коллектив которой составляет 1148 человек. Медицинская деятельность по 40 специальностям осуществляется 221 врачом, 543 специалистами среднего звена, 117 младшего звена. Среди них работают 2 доктора медицинских наук, 5 кандидатов медицинских наук, 3 заслуженных врача РФ, 2 врача награждены "Золотым крестом "ФМБА России", 8 отличников здравоохранения, 57 врачей высшей квалификационной категории, 41 - первой категории, 67 - с клинической подготовкой.
      p Врачи ФГБУЗ МСЧ №59 активно занимаются научно - практической деятельностью, сотрудничают с Пензенским институтом усовершенствования врачей и медицинским институтом ПГПУ. Кафедра психотерапии, наркологии и сексологии института выбрала своей клинической базой Центр психоневрологии и наркологии ФГБУЗ МСЧ №59. Кафедра акушерства и гинекологии мединститута базируется в Перинатальном центре ФГБУЗ МСЧ №59.
    .frontInfo__buttons
      a.frontInfo__button(href='#')
        img.lazy(data-src='modules/frontInfo/img/button-1.png')
        | Портал образений граждан#[br]
        | в ФГБУЗ МСЧ №59
      .frontInfo__button
        img.lazy(data-src='modules/frontInfo/img/button-2.png')
        .frontInfo__narrow
          | Независимая оценка качества условий#[br]
          | оказания услуг медицинскими организациями
        .frontInfo__links
          a(href='#') Подробнее
          a(href='#') Оценить
    .frontInfo__cards
      .frontInfo__card.frontInfo__card--1
        .frontInfo__cardText
          | Необходимо#[br]
          | посетить врача?
        img.lazy(data-src='modules/frontInfo/img/card-1.png' width=320 height=262)
        a.btn(href='#'): span Записаться на прием
      .frontInfo__card.frontInfo__card--2
        .frontInfo__cardText
          | Нужен врач#[br]
          | на дом?
        img.lazy(data-src='modules/frontInfo/img/card-2.png' width=219 height=276)
        a.btn(href='#'): span Вызвать врача
