.frontWork
  .c
    .frontWork__left
      h2 Режим работы
      select.select
        option(value='Стационар') Стационар
        option(value='Поликлиника') Поликлиника
      .frontWork__row
        svg: use(xlink:href="#icon-geo")
        .frontWork__address г. Заречный, ул. Спортивная, д.8.
        a.frontWork__map(href='#') Карта проезда

      .frontWork__phones
        .frontWork__inner
          .frontWork__info
            .frontWork__primary
              .frontWork__label Хирургическое отделение
              .frontWork__phone +7 (8412) 60-10-02
            .frontWork__aside
              .frontWork__days ежедневно
              .frontWork__hours 08#[sup 30] – 10#[sup 00]
          .frontWork__info
            .frontWork__primary
              .frontWork__label Хирургическое отделение
              .frontWork__phone +7 (8412) 60-10-02
            .frontWork__aside
              .frontWork__days ежедневно
              .frontWork__hours 08#[sup 30] – 10#[sup 00]
          .frontWork__info
            .frontWork__primary
              .frontWork__label Хирургическое отделение
              .frontWork__phone +7 (8412) 60-10-02
            .frontWork__aside
              .frontWork__days ежедневно
              .frontWork__hours 08#[sup 30] – 10#[sup 00]
          .frontWork__info
            .frontWork__primary
              .frontWork__label Хирургическое отделение
              .frontWork__phone +7 (8412) 60-10-02
            .frontWork__aside
              .frontWork__days ежедневно
              .frontWork__hours 08#[sup 30] – 10#[sup 00]
        .frontWork__track
          .frontWork__bar

    .frontWork__right
      .frontWork__item
        .frontWork__header Продолжается акции «Защити себя от гриппа»
        p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.
        a.btn(href='#'): span Подробнее
      .frontWork__item
        .frontWork__header Продолжается акции «Защити себя от гриппа»
        p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.
        p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.
        a.btn(href='#'): span Подробнее

