.header
  background: url(./header.jpg) 50% 100% no-repeat;
  //background-size: cover;
  @media (max-width: $breakpoint-lg - 1)
    background-position: 50% -6px

  &__top
    border-bottom: 1px solid rgba(#1b1c20, .1)
    @media (max-width: $breakpoint-lg - 1)
      position: fixed;
      left: 0
      width: 100%
      anim()
      &--fixed
        background: #ffffff
        z-index: 10
        top: 0

    .c
      display: flex;
      align-items: center;
      justify-content space-between
      height: 134px
      line-height: 1.35
      @media (max-width: $breakpoint-lg - 1)
        height: 123px

  &__left
    display: flex;
    align-items: center;

  &__logo
    width: 58px
    height: 58px

  &__title
    width: 134px
    height: 21px
    margin-left: 16px
    fill: #1d1d1b
    @media (max-width: $breakpoint-md - 1)
      display: none;

  &__label
    font-size: 16px

  &__value
    font-weight: 500

  &__contacts
    position: relative
    @media (max-width: $breakpoint-md - 1)
      margin: 0 50px

    &-icon
      position: absolute
      fill: #e21d2b
      width: 12px
      height: 12px
      right: 100%
      margin-right: 10px
      top: 6px

      &--white
        fill: #ffffff

  &__working
    position: relative
    @media (max-width: $breakpoint-lg - 1)
      display: none;

    &-icon
      position: absolute
      fill: #e21d2b
      width: 16px
      height: 16px
      right: 100%
      margin-right: 10px
      top: 4px

  &__placeholder
    height: 64px
    @media (max-width: $breakpoint-lg - 1)
      height: 123px

  &__menu
    border-bottom: 1px solid rgba(#1b1c20, .1)
    position: absolute;
    left: 0
    width: 100%
    anim()

    .c
      display: flex;

    ul
      display: flex;
      align-items stretch
      justify-content: space-between
      flex: 1
      margin: 0
      @media (max-width: $breakpoint-lg - 1)
        flex-direction column

      li
        margin: 0
        padding: 0
        @media (max-width: $breakpoint-lg - 1)
          border-bottom: 1px solid #e4e4e4

        &:before
          display: none

      a
        position relative
        padding: 20px 0
        font-size: 14px
        font-weight bold
        color: #454545
        display: block
        height: 100%

        &:after
          content: ''
          display: block
          position: absolute
          left: 0
          right: 0
          bottom: 0
          height: 0
          background: #e21d2b
          anim()

        &:hover, &.current-menu-item
          text-decoration: none;

          &:after
            height: 3px

        @media (max-width: $breakpoint-lg - 1)
          //display: inline-block;
          padding-left: 48px

    &--fixed
      position: fixed;
      top: 0
      background: #ffffff
      z-index: 100

      .header__phone-wrapper
        max-width 270px

    @media (max-width: $breakpoint-lg - 1)
      opacity: 0;
      pointer-events none
      position fixed
      left: 0
      right: 0
      top: 0
      bottom: 0
      //overflow: auto;
      z-index: 10
      anim()

      &:before
        content: ''
        display: block;
        position: fixed;
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: rgba(0, 0, 0, .3);

      .c
        flex-direction column
        position: absolute;
        z-index: 1
        right: 0
        top: 0
        max-width: 380px
        background: #ffffff
        transform translateX(50px)
        padding: 0
        height: 100%
        anim()

      .header__phone-wrapper
        display: none;

      ul
        display: block;

      &--active
        opacity: 1
        pointer-events all
        background transparent

        .c
          transform translateX(0)


  &__cta
    @media (max-width: $breakpoint-lg - 1)
      display: none;

  &__menu-header
    display: none;
    @media (max-width: $breakpoint-lg - 1)
      display: flex;
      align-items center
      height: 65px
      background: #fdeef0
      font-size: 14px
      color: #454545
      padding: 0 25px
      font-weight: 500
      border-bottom: 1px solid #e3d7d8
      cursor: pointer;

      .hamburger
        margin-left: auto;

  &__menu-button
    display: none;

    @media (max-width: $breakpoint-lg - 1)
      display: flex;
      align-items center

  //position: fixed;
  //left: calc(50% + 260px)
  //top: 50px
  //z-index: 10

  &__phone-wrapper
    overflow: hidden;
    max-width 0
    anim(.3s)

  &__phone
    background: #e43641
    display: flex;
    align-items center
    justify-content center
    color: #ffffff
    font-weight: 500
    padding: 0 30px
    white-space nowrap
    height: 100%
    margin-left: 30px

    &:hover
      color: #ffffff

  &__phone-icon
    width: 12px
    height: 12px
    fill: #fff
    margin-right: 12px
