header.header
  .c
    .header__top
      button.header__blind
        svg: use(xlink:href="#icon-view")
        | ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ
      .header__logo
        | ФГБУЗ МСЧ №59#[br]
        | ФМБА России
      .header__address
        svg: use(xlink:href="#icon-geo")
        | г. Заречный

      .header__buttons
        a.outlineBtn(href='#')
          svg: use(xlink:href="#icon-stethoscope")
          svg.hover: use(xlink:href="#icon-stethoscope")
          | Запись на прием
        a.outlineBtn(href='#')
          svg: use(xlink:href="#icon-aid")
          svg.hover: use(xlink:href="#icon-aid")
          | Вызвать врача

      button.header__search
        svg: use(xlink:href="#icon-glass")
        svg.hover: use(xlink:href="#icon-glass")
        svg.close: use(xlink:href="#icon-close")

      .header__contacts
        .header__label по всем вопросам
        a.header__phone(href='tel:123') +7 (8412) 60-10-14

  .header__bottom
    .c
      .header__menu
        button.header__hamburger
          svg: use(xlink:href="#icon-menu")
          svg.close: use(xlink:href="#icon-close")

        ul
          li: a(href='#'): span ГЛАВНАЯ
          li.menu-item-has-children
            a(href='#'): span О НАС
            .menu
              .c
                .menu__container
                  .menu__content
                    .menu__submenu
                      ul
                        li.menu-item-has-children
                          a(href='#')
                          ul
                            li: a(href='#') История
                            li
                              a(href='#') Спорт, культура, отдых
                              ul
                                li: a(href='#') ASD
                            li: a(href='#') Даты и события коллектива
                            li: a(href='#') Врачебне династии
                            li: a(href='#') Наши ветераны ВОВ

                  .menu__track
                    .menu__bar

          li.menu-item-has-children: a(href='#'): span СТРУКТУРА ПОДРАЗДЕЛЕНИЯ
          li: a(href='#'): span НОВОСТИ
          li: a(href='#'): span КОНТАКЫ
          li: a(href='#'): span ВОПРОС-ОТВЕТ
    .menu
      .c
        .menu__container
          button.menu__back Назад
          .menu__content
            .menu__aside
              ul
                li: a(href='#') Главная
                li: a(href='#') Новости
                li: a(href='#') Контакты
                li: a(href='#') Вопрос-ответ
                li: a(href='#') Вакансии
                li: a(href='#') Блог
                li: a(href='#') Документы
                li: a(href='#') Гостевая книга
            .menu__primary
              ul
                li.menu-item-has-children
                  a(href='#') О нас
                  ul
                    li: a(href='#') История
                    li: a(href='#') Спорт, культура, отдых
                    li: a(href='#') Даты и события коллектива
                    li: a(href='#') Врачебне династии
                    li: a(href='#') Наши ветераны ВОВ
                li.menu-item-has-children
                  a(href='#') Структура подразделения
                  ul
                    li: a(href='#') Управление
                    li.menu-item-has-children
                      a(href='#') Детская поликлиника
                      ul
                        li: a(href='#') Отделение участковой службы
                        li: a(href='#') Кабинет профилактики
                        li: a(href='#') Узкие специалисты и др. кабинеты
                        li: a(href='#') Фотогалерея детской поликлиники
                        li: a(href='#') О грудном вскармливании
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                        li: a(href='#') Информация для родителей
                    li.menu-item-has-children
                      a(href='#') Городская поликлиника
                      ul
                        li: a(href='#') Жменская консультация
                        li: a(href='#') Социально-психологическая помощь
                        li: a(href='#') Узкие специалисты и др. кабинеты
                        li: a(href='#') Фотогалерея детской поликлиники
                        li: a(href='#') О грудном вскармливании
                        li: a(href='#') Информация для родителей
                    li.menu-item-has-children
                      a(href='#') Перинатальный центр
                      ul
                        li: a(href='#') Жменская консультация
                        li: a(href='#') Социально-психологическая помощь
                        li: a(href='#') Узкие специалисты и др. кабинеты
                        li: a(href='#') Фотогалерея детской поликлиники
                        li: a(href='#') О грудном вскармливании
                        li: a(href='#') Информация для родителей
                    li: a(href='#') Центр психоневрологии и наркологии
                    li.menu-item-has-children
                      a(href='#') Платные медицинские услуги
                      ul
                        li: a(href='#') Жменская консультация
                        li: a(href='#') Социально-психологическая помощь
                        li: a(href='#') Узкие специалисты и др. кабинеты
                        li: a(href='#') Фотогалерея детской поликлиники
                        li: a(href='#') О грудном вскармливании
                        li: a(href='#') Информация для родителей


          .menu__track
            .menu__bar

  .searchBlock
    .searchBlock__container
      .c
        .searchBlock__label Введите ключевые слова для поиска
        .searchBlock__block
          .searchBlock__input
            input
            .searchBlock__tags
              a.searchBlock__tag(href='#') Запись к врачу
              a.searchBlock__tag(href='#') Контакты
              a.searchBlock__tag(href='#') Время работы
              a.searchBlock__tag(href='#') Запись к врачу
              a.searchBlock__tag(href='#') Контакты
              a.searchBlock__tag(href='#') Время работы
          .searchBlock__button: button.btn: span Поиск

        button.searchBlock__close: svg: use(xlink:href="#icon-close")
