header.header
  .header__top: .c
    a.header__left(href='index')
      svg.header__logo: use(xlink:href="#logo")
      svg.header__title: use(xlink:href="#title")

    .header__contacts
      svg.header__contacts-icon: use(xlink:href="#call")
      .header__label Есть вопросы? Звоните сейчас!
      .header__value +7 (812) 603-41-8

    .header__working
      svg.header__working-icon: use(xlink:href="#clock")
      .header__label Ежедневно
      .header__value с 9:00 до 18:00
    .header__cta
      a.btn.popup__opener(href='#callback') ЗАКАЗАТЬ ЗВОНОК
    //.header__menu-button-placeholder
    button.header__menu-button
      |МЕНЮ
      .hamburger

  .header__menu
    .c
      .header__menu-header
        | ЗАКРЫТЬ
        .hamburger.hamburger--active
      ul
        li: a(href='index') О НАС
        li: a(href='catalog') ВОРОТА
        li: a(href='catalog') ЗАБОРЫ
        li: a(href='catalog') НАВЕСЫ
        li: a(href='gallery') НАШИ РАБОТЫ
        li: a(href='blog') БЛОГ
        li: a(href='#contacts') КОНТАКТЫ
      .header__phone-wrapper: a.header__phone(href='tel:123')
        svg.header__phone-icon: use(xlink:href="#call")
        | +7 (812) 603-41-8

  .header__placeholder
