.footer

  &__top
    background-color: #fbfbfb

  &__menu
    position: relative
    padding: 50px 10px 45px
    font-size: 16px
    @media (max-width: $breakpoint-lg - 1)
      padding-top: 40px

    ul
      margin: 0

    li
      margin: 0
      padding: 0

      &:before
        display: none

    & > ul
      display flex
      flex-wrap wrap

      a
        color: #2d2d2d
        anim()

        &:hover
          color: #e21d2b
          text-decoration: underline;

      & > li
        flex 1
        padding-left: 25px
        @media (max-width: $breakpoint-lg - 1)
          flex: auto 0
          width: 50%
          margin-bottom: 20px
        @media (max-width: $breakpoint-md - 1)
          width: 100%
          text-align: center;

        & > a
          color: #2d2d2d
          font-weight: 500
          margin-bottom: 3px
          display: inline-block

          &:after
            content: ''
            display: inline-block
            vertical-align: middle;
            width: 6px
            height: 6px
            background: #e21d2b
            border-radius: 50%
            margin-left: 8px

        li
          margin-bottom: 10px

  &__contacts
    position: absolute
    width: 355px
    right: 28px
    top: 100%
    margin-top: -145px
    background: #ffffff
    border-radius: 4px
    padding: 20px 20px 39px
    @media (max-width: $breakpoint-lg - 1)
      margin-top: -245px
    @media (max-width: $breakpoint-md - 1)
      position: static;
      margin: 10px auto 0

    &Header
      padding: 12px 0 12px
      text-align: center
      font-weight: 500
      border-bottom: 1px dashed #e21d2b;
      margin-bottom: 20px

    &Body
      text-align: center
      line-height: 2

      p
        margin-bottom: 0

  &__bottom
    background: #302e30
    color: #ffffff
    font-size: 16px

  &__sup
    display: flex
    align-items: center
    padding: 45px 10px
    max-width 780px
    @media (max-width: $breakpoint-lg - 1)
      padding-top: 105px
    @media (max-width: $breakpoint-md - 1)
      flex-direction column
      padding: 35px 0

  &__company
    display: flex
    align-items: center
    margin-bottom: 40px
    @media (max-width: $breakpoint-lg - 1)
      font-size: 14px
    @media (max-width: $breakpoint-md - 1)
      flex-direction column

  &__logo
    width: 44px
    height: 44px
    margin-right: 47px
    @media (max-width: $breakpoint-md - 1)
      display: block;
      margin: 0 auto 25px

  &__info
    @media (max-width: $breakpoint-md - 1)
      text-align: center;

  &__right
    margin-left: 45px
    @media (max-width: $breakpoint-md - 1)
      margin-left: 0
      margin-top: 30px

  &__link
    opacity .5
    anim()

    &:hover
      opacity 1