footer.footer
  .c
    .footer__top
      .footer__left
        .footer__logo
          | ФГБУЗ МСЧ №59#[br]
          | ФМБА России
        .footer__text Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.

      .footer__menu
        ul
          li
            a(href='#') qwe
            ul
              li: a(href='#') ГЛАВНАЯ
              li: a(href='#') О НАС
              li: a(href='#') НОВОСТИ
              li: a(href='#') КОНТАКЫ
              li: a(href='#') ВОПРОС-ОТВЕТ
          li
            a(href='#') qwe
            ul
              li: a(href='#') УПРАВЛЕНИЕ
              li: a(href='#') ДЕТСКАЯ ПОЛИКЛИНИКА
              li: a(href='#') ГОРОДСКАЯ ПОЛИКЛИНИКА
              li: a(href='#') ПЕРИНАТАЛЬНЫЙ ЦЕНТР
              li: a(href='#') ЦЕНТР ПСИХОНЕВРОЛОГИИ И НАРКОЛОГИИ
              li: a(href='#') СТАЦИОНАР
              li: a(href='#') ПЛАТНЫЕ МЕДИЦИНСКИЕ УСЛУГИ

      .footer__right
        .footer__buttons
          a.outlineBtn(href='#')
            svg: use(xlink:href="#icon-stethoscope")
            svg.hover: use(xlink:href="#icon-stethoscope")
            | Запись на прием
          a.outlineBtn(href='#')
            svg: use(xlink:href="#icon-aid")
            svg.hover: use(xlink:href="#icon-aid")
            | Вызвать врача
        .footer__contacts
          .footer__label по всем вопросам
          a.footer__phone(href='tel:123') +7 (8412) 60-10-14

    .footer__bottom
      .footer__counters
      .footer__copyright ФГБУЗ МСЧ №59  ФМБА России @ 2019

