.related
  h2 Похожие статьи по теме
  .c
    .related__slider
      .related__items
        each val in [1,2,3]
          .related__item
            .related__inner
              img.related__image(src='modules/related/img/blogRelated.jpg')
              .related__content
                .related__title Как строить навес #[=val]
                .related__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse .
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse .
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse .
            //a.related__btn.btn.btn--sm(href='blogSingle') Перейти
            a.related__btn.btn.btn--sm.popup__opener(href='#akcii') Перейти

      .related__navigation
        .related__button.related__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
        .related__button.related__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")
      