.frontNews
  .c
    h2 Последние новости медицины
    .frontNews__items
      .frontNews__item
        a.newsCard(href='#')
          .newsCard__image: img.lazy(data-src='images/news-img.jpg')
          .newsCard__date 02 февраля 2019 в 15:51
          .newsCard__title Проснувшись однажды утром после беспокойного сна
          .newsCard__text
            p Curabitur ullamcorper ultricies nisi. Nam egetdui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semperid ...
          .newsCard__tags
            .newsCard__tag аудио
            .newsCard__tag видео
            .newsCard__tag фото
      .frontNews__item
        a.newsCard(href='#')
          .newsCard__image: img.lazy(data-src='images/news-img.jpg')
          .newsCard__date 02 февраля 2019 в 15:51
          .newsCard__title Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех
          .newsCard__text
            p Curabitur ullamcorper ultricies nisi. Nam egetdui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semperid ...
          .newsCard__tags
            .newsCard__tag аудио
            .newsCard__tag видео
            .newsCard__tag фото
      .frontNews__item
        a.newsCard(href='#')
          .newsCard__image: img.lazy(data-src='images/news-img.jpg')
          .newsCard__date 02 февраля 2019 в 15:51
          .newsCard__title Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника
          .newsCard__text
            p Curabitur ullamcorper ultricies nisi. Nam egetdui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semperid ...
            p Curabitur ullamcorper ultricies nisi. Nam egetdui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semperid ...
          .newsCard__tags
            .newsCard__tag фото
    .frontNews__btn
      a.btn(href='#'): span Все новости

