extends pug/_layout

block body
  include modules/catalog/catalog.pug
  include modules/examples/examples
  include modules/steps/steps2
  include modules/consult/consult
  include modules/testimonials/testimonials
  include modules/related/related
