extends pug/_layout

block body
  include modules/frontSlider/frontSlider
  include modules/frontInfo/frontInfo
  include modules/frontMenu/frontMenu
  include modules/frontLicenses/frontLicenses
  include modules/frontWork/frontWork
  include modules/frontNews/frontNews
  include modules/frontLinks/frontLinks
  //include modules/welcome/welcome.pug
  //include modules/advantages/advantages.pug
  //include modules/about/about.pug
  //include modules/variants/variants.pug
  //include modules/examples/examples.pug
  //include modules/bigForm/bigForm.pug
  //include modules/certificates/certificates.pug
