extends pug/_layout

block body
  include modules/frontSlider/frontSlider
  include modules/frontInfo/frontInfo
  include modules/frontMenu/frontMenu
  include modules/frontLicenses/frontLicenses
  include modules/frontWork/frontWork
  include modules/frontNews/frontNews
  include modules/frontLinks/frontLinks
