extends pug/_layout

block body
  - var SHOW_CONTACTS_LINES = true
  include modules/welcome/welcome.pug
  include modules/advantages/advantages.pug
  include modules/about/about.pug
  include modules/variants/variants.pug
  include modules/examples/examples.pug
  include modules/bigForm/bigForm.pug
  include modules/certificates/certificates.pug
