/*!!
 * Theme Name: fgbuz
 */

@import "destyle.css/destyle.css"

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@import "stylus/blocks/common.styl";
@import "stylus/blocks/typography.styl";
@import "stylus/blocks/elements.styl";
@import "stylus/blocks/btn.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/checkbox.styl";
@import "stylus/blocks/panel.styl";
@import "stylus/blocks/wpcf7.styl";
@import "stylus/blocks/bannerCard.styl";
@import "stylus/blocks/arrowButton.styl";
@import "stylus/blocks/moreBtn.styl";
@import "stylus/blocks/select.styl";
@import "stylus/blocks/newsCard.styl";
@import "stylus/blocks/outlineBtn.styl";
@import "stylus/blocks/page.styl";
@import "stylus/blocks/breadcrumbs.styl";
@import "stylus/blocks/smallCard.styl";
@import "stylus/blocks/slider.styl";

@import "modules/header/header.styl"
@import "modules/frontSlider/frontSlider.styl"
@import "modules/frontInfo/frontInfo.styl"
@import "modules/frontMenu/frontMenu.styl"
@import "modules/frontLicenses/frontLicenses.styl"
@import "modules/frontWork/frontWork.styl"
@import "modules/frontNews/frontNews.styl"
@import "modules/frontLinks/frontLinks.styl"
@import "modules/heads/heads.styl"
@import "modules/faq/faq.styl"
@import "modules/news/news.styl"
@import "modules/notFound/notFound.styl"
@import "modules/contacts/contacts.styl"
@import "modules/searchResults/searchResults.styl"
@import "modules/record/record.styl"
@import "modules/comments/comments.styl"

@import "modules/footer/footer.styl"
@import "modules/photoswipe/photoswipe.styl"
@import "modules/popup/mfp.styl"
@import "modules/popup/popup.styl"
@import "modules/popup/thank.styl"
@import "modules/popup/akcii.styl"
