.frontLinks
  padding: 5rem 0
  background: #f5fcfe
  @media screen and (max-width: $breakpoint-lg - 1)
    padding: 2rem 0

  h2
    margin-bottom: 2.5rem

  &__items
    display: flex;
    flex-wrap wrap
    margin: 0 -15px
    @media screen and (max-width: $breakpoint-lg - 1)
      margin: 0
      flex-direction column

  &__item
    width: 33.3333%
    padding: 15px
    @media screen and (max-width: $breakpoint-lg - 1)
      width: 100%
      padding: 0 0 10px

  &__card
    position: relative;
    border: 1px solid #42bde4
    border-radius: 7px
    background: #ffffff
    min-height: 70px
    display: flex;
    align-items center
    justify-content center
    padding: 2px 20px 2px 70px
    text-align: center;
    line-height: 1.4
    font-weight: 500
    @media screen and (max-width: $breakpoint-lg - 1)
      min-height: 60px

    img
      position: absolute;
      top: 50%
      left: 34px
      transform translate(-50%, -50%)
      @media screen and (max-width: $breakpoint-lg - 1)
        left: 29px

    &--bigImage
      padding-left: 120px
      border-width: 2px;

      img
        left: 60px

      @media screen and (max-width: $breakpoint-lg - 1)
        padding-left: 100px
        img
          left: 50px
          max-width 80px
          height: auto;
