.frontLinks
  .c
    h2 Полезные ссылки
    .frontLinks__items
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | ФМБА России
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Приволжский#[br]
        | федеральный округ
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Территориальный фонд#[br]
        | пензенской области
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Записаться на прием в ЛПУ#[br]
        | Пензенской обл.
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Министерство здравоохранения#[br]
        | Российской Федерации
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Министерство здравоохранения#[br]
        | Пензенской области
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Роспотребнадзор
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Роспотребнадзор#[br]
        | Пензенской области
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Территориальный орган#[br]
        | росздравнадзора по#[br]
        | Пензенской области
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Федеральная служба по надзору#[br]
        | в сфере здравоохранения
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Портал «Медицинская наука»
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Электронное правительство#[br]
        | Госуслуги
      .frontLinks__item: a.frontLinks__card(href='#')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Противодействие коррупции
      .frontLinks__item: a.frontLinks__card.frontLinks__card--bigImage(href='#' style='border-color:#053380')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Страховая компания#[br]
        | «макс-м»
      .frontLinks__item: a.frontLinks__card.frontLinks__card--bigImage(href='#' style='border-color:#971315')
        img.lazy(data-src='modules/frontLinks/frontLinks-img.png')
        | Федеральная служба по надзору#[br]
        | в сфере здравоохранения

