.bigForm
  .c.bigForm__container
    .bigForm__col
      include ../steps/steps.pug
      img.bigForm__manager(src='modules/bigForm/img/bigFormManager.png')
    .bigForm__col
      .panel
        img.bigForm__decor2(src='modules/bigForm/img/bigForm-decor2.jpg')
        .panel__header Получите консультацию специалиста в течение 5 минут
        .panel__body
          .bigForm__block: .bigForm__type
            p.center: b Выберите вариат изделия, который Вам необходим.
            label.radio
              input.radio__input(type="checkbox" name="form-type" value='Забор' checked)
              .radio__label
                .icon.icon--zabor
                | Забор
            label.radio
              input.radio__input(type="checkbox" name="form-type" value='Ворота')
              .radio__label
                .icon.icon--vorota
                | Ворота
            label.radio
              input.radio__input(type="checkbox" name="form-type" value='Навес')
              .radio__label
                .icon.icon--naves
                | Навес
          .bigForm__form(data-type='Забор'): .bigForm__block
            p.center: b Выберите вариат изделия, который Вам необходим.
            p.bigForm__row
              input.input__input.input__input--sm(placeholder='Длина забора:')
              input.input__input.input__input--sm(placeholder='Высота забора:')
            .bigForm__variants
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--metal
                  | Металлоштакетник
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--jaluzi
                  | Забор-жалюзи
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--lazer
                  | Премиум забор лазерной резки

          .bigForm__form(data-type='Ворота'): .bigForm__block
            p.center: b Выберите вариат изделия, который Вам необходим.
            p.bigForm__row
              input.input__input.input__input--sm(placeholder='Длина забора:')
              input.input__input.input__input--sm(placeholder='Высота забора:')
            .bigForm__variants
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--metal
                  | Металлоштакетник
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--jaluzi
                  | Забор-жалюзи
              label.radio
                input.radio__input(type="radio" name="zabor")
                .radio__label
                  .icon.icon--lazer
                  | Премиум забор лазерной резки

          .bigForm__phone
            input.input__input.input__input--sm(placeholder='Ваш номер телефона:')

          div.center: button.btn.btn--inverse Получить консультацию
  img.bigForm__decor1(src='modules/bigForm/img/bigForm-decor1.png')
