.bigForm
  padding-top: 55px
  position: relative
  @media (max-width: $breakpoint-lg - 1)
    padding-bottom: 65px

  //&:after
  //  content: ''
  //  display: block
  //  bottom: -100px
  //  left: 0
  //  background: url(./img/bigFormTree2.png) 50% 50% no-repeat
  //  width: 158px
  //  height: 230px
  //  position: absolute;

  &__container
    display: flex
    padding: 0
    @media (max-width: $breakpoint-lg - 1)
      flex-direction column

  &__col
    flex: 1
    padding: 0 10px

  &__manager
    display: block
    margin: 0 auto
    @media (max-width: $breakpoint-lg - 1)
      display: none;

  &__block
    margin: 0 -52px 25px
    //display: flex;
    //justify-content space-between
    padding: 0 52px 25px
    border-bottom: 1px solid #f0f0f0

  &__type
    display: flex;
    justify-content space-between

  &__row
    display: flex;
    margin-left: -8px
    margin-right: -8px

    > *
      margin: 0 8px

  &__variants
    display: flex;
    flex-wrap wrap

    > *
      margin: 0 12px 18px 0

  &__phone
    max-width 245px
    margin: 0 auto 25px

  &__forms
    position: relative;
    padding: 0

  &__form
    position: absolute;
    opacity: 0
    z-index: -1
    width: 100%
    left: 0
    top: 0
    padding: 0 52px 25px
    anim()

    &--active
      z-index: 1
      position: static;
      opacity: 1