.idea
  margin-top: 50px
  margin-bottom: 25px

  &__text
    font-weight: 500
    margin-bottom: 30px
    @media (max-width: $breakpoint-lg - 1)
      text-align: center;

  &__form
    display: flex
    @media (max-width: $breakpoint-lg - 1)
      flex-direction column

      .btn
        flex-shrink 1

  &__main
    flex 2
    margin-right: 22px
    @media (max-width: $breakpoint-lg - 1)
      margin-right: 0
      height: 125px
      margin-bottom: 18px

  &__message
    height: 100%

  &__aside
    flex 1
