#contacts.contacts
  .contacts__container(class=SHOW_CONTACTS_LINES ? 'lines' : ''): .c
    .contacts__content
      .contacts__info
        .contacts__sup Компания
        svg.contacts__title: use(xlink:href="#title")
        .contacts__sub Ваш надежный партнер по металлоизделям
        .contacts__head Производство:
        p Улица Финляндская, д. 37#[br]Тел: 8 (812) 3333-870#[br]м. Купчино

        .contacts__head Офис:
        p Улица Финляндская, д. 37#[br]Тел: 8 (812) 3333-870#[br]м. Купчино

        .contacts__head Почта:
        p mail@mail.ru
        img.contacts__manager(src='modules/contacts/img/contactsManager.png')
      .contacts__aside
        img.contacts__folder(src='modules/contacts/img/contactsForm.png')
        .contacts__form
          .contacts__formTitle Остались вопросы?
          .contacts__formText Введите свой вопрос ниже и наш специалист#[br]ответит на него в течение 5 минут.
          form
            input.input__input.input__input--big(type='tel' placeholder='Ваш номер телефона:')
            textarea.contacts__textarea.input__input.input__input--big.input__input--textarea(placeholder='Ваш вопрос:')
            button.btn ОТПРАВИТЬ ВОПРОС
    .contacts__map
      #map(data-center="[59.755204, 30.531607]" data-zoom=16 data-address="Улица Финляндская, д. 37")