.frontSlider
  .frontSlider__items
    .frontSlider__item
      img.swiper-lazy(data-src='modules/frontSlider/frontSlider-img.jpg')
      .c
        .frontSlider__title Название слайда
        .frontSlider__text
          p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet.

  .arrowButton.arrowButton--left: svg: use(xlink:href="#icon-back")
  .arrowButton.arrowButton--right: svg: use(xlink:href="#icon-back")
