.examples
  h2 Выполненные работы компании #[span АВИСКОМ]
  .c
    .examples__slider
      .examples__items
        .examples__grid.examples__grid--r2
          a.examples__item.zoom(href='modules/examples/img/example-1.jpg' data-width=270 data-height=576 data-index=0): div(style='background-image:url(modules/examples/img/example-1.jpg)')
        .examples__grid
          a.examples__item.zoom(href='modules/examples/img/example-2.jpg' data-width=270 data-height=273 data-index=1): div(style='background-image:url(modules/examples/img/example-2.jpg)')
        .examples__grid.examples__grid--c2
          a.examples__item.zoom(href='modules/examples/img/example-3.jpg' data-width=569 data-height=273 data-index=2): div(style='background-image:url(modules/examples/img/example-3.jpg)')
        .examples__grid
          a.examples__item.zoom(href='modules/examples/img/example-4.jpg' data-width=270 data-height=273 data-index=3): div(style='background-image:url(modules/examples/img/example-4.jpg)')
        .examples__grid
          a.examples__item.zoom(href='modules/examples/img/example-5.jpg' data-width=270 data-height=273 data-index=4): div(style='background-image:url(modules/examples/img/example-5.jpg)')
        .examples__grid
          a.examples__item.zoom(href='modules/examples/img/example-6.jpg' data-width=270 data-height=273 data-index=5): div(style='background-image:url(modules/examples/img/example-6.jpg)')

      .examples__navigation
        .examples__button.examples__button--prev.btn.btn--round.btn--arrow-prev: svg: use(xlink:href="#arrow")
        .examples__button.examples__button--next.btn.btn--round.btn--arrow-next: svg: use(xlink:href="#arrow")

  .examples__more: a.btn(href='gallery') СМОТРЕТЬ БОЛЬШЕ РАБОТ